.about-us-container {
    position: relative;
    background-image: url('../img/flag.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    min-height: 90vh;
    width: 100%;
}
.about-us-container .section-bg3 {
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    width: 55%;
    position: relative;
    border-radius: 10px;
    left: 250px;
    top: 40px;
}

@media (max-width: 768px) {
    .about-us-container .section-bg3 {
        min-height: 48vh;
        width: 100%;
        left: 0;
        top: 20px;
    }
}

.section-bg3 h2, .section-bg3 p {
    margin: 0;
    line-height: 1.5;
    text-align: left;
    font-size: 20px;
    width: 60%;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    color: black;
}

@media (max-width: 768px) {
    .section-bg3 p {
        font-size: 10px;
        margin-top: 30px;
        margin-left: 23px;
    }
}

.backend {
    position: absolute;
    transform: translateX(-50%);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    border: 1px solid rgb(37, 35, 35);
    bottom: 20px;
    right: 10px;
    background-color: #ffc9bb;
}

@media (max-width: 768px) {
    .backend {
        bottom: 30%;
        right: 10px;
        font-size: 15px;
    }
}

.backend:hover {
    color: white;
    background-color: #febe00;
}
