.contact {
    padding: 50px;
    text-align: center;
    width: 500px;
    margin: 50px auto;
}
@media (max-width: 768px) {
    .contact {
        width: 400px;
    }
}
.containertwo {
    max-width: 800px;
    margin: 0 auto;
    top: 40px;
}

.containertwo h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: red;
}
.containertwo h3{
    color: red;
}
.containertwo-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
    color: red;
}

.form-group {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 8px red;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: red;
}

.contact-info {
    text-align: left;
    font-size: 20px;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.contact-info p {
    margin-bottom: 10px;
    color: black;
}

.contact-info i {
    color: green;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    .container-wrapper {
        grid-template-columns: 1fr;
    }
}