* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black !important;
    font-family: Arial, sans-serif;
    margin: 25px;
}

.sections > section {
    border: none;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(143, 80, 8, 0.5);

}

.sections {
    position: relative;
}

.sections section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.footer {
    top: 10px;
    color: white;
    text-align: left;
    position: relative;
    right: 20px;
}
@media (max-width: 768px) {
    .footer  {
        top: 10px;
        color: white;
        text-align: left;
        position: relative;
        right: 20px;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav {
    top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    z-index: 1;
    position: fixed;
    width: 100%;
}
@media (max-width: 768px) {
    .topnav  {
        padding-right: 35%;
    }
}
.topnav a {
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .topnav a {
        padding: 1px;
        font-size: 15px;
        margin-right: 10px;
    }
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

.logo {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #381c10;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: auto;
    z-index: 2;
}
@keyframes colorCyclePinoy {
    0%, 100% { color: blue; }
    33%, 66% { color: red; }
}

@keyframes colorCycleRecipes {
    0%, 100% { color: red; }
    33%, 66% { color: blue; }
}







