* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #987554 !important;
    font-family: Arial, sans-serif;
    margin: 25px;
}

.sections > section {
    border: none;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(143, 80, 8, 0.5);

}

.sections {
    position: relative;
}

.sections section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topnav {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #987554;
    z-index: 1;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    margin-left: 20px;
}
@media (max-width: 768px) {
    .topnav a {
        padding: 1px;
        font-size: 20px;
        left: 10px;
        margin-right: 5px;
    }
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

.logo {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.title {
    font-size: 100px;
    text-transform: uppercase;
    top: 70%;
    left: 25%;
    position: absolute;
    color: white;
}

@media (max-width: 768px) {
    .title {
        padding: 20px;
        font-size: 50px;
        left: 22px;
        top: 50%;
    }
}

.section-bg3 {
    background-color: #dfa470;
    color: black;
    height: 500px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    text-align: center;
    padding: 50px;
    width: 80%;
    max-width: 1200px;
    margin: 30px auto;
}
.section-bg3 p {
    flex: 1;
    padding-right: 20px;
    margin-top: 8px;
}
@media (max-width: 768px) {
    .section-bg3 p{
        font-size: 15px;
        margin-top: 30px;
        margin-left: 23px;
    }
}
.section-bg3 h2 {
    margin-top: 6%;
}

.section-bg1 {
    position: relative;
    overflow: hidden;
    margin-right: 50% ;
    margin-bottom: 20px;
    height: 500px;
    border-radius: 15px;
    background-size: cover;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .section-bg1 {
        height: 500px;
    }
}
.overlay {
    background-color: rgba(143, 80, 8, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    white-space: nowrap;
    color: rgb(219, 148, 55);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
@media (max-width: 768px) {
    .text {
    white-space: nowrap;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    }
}
.overlay:hover .text {
    opacity: 1;
}

.contact {
    background-color: #987554;
    padding: 50px;
    text-align: center;
    width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}
@media (max-width: 768px) {
    .contact {
        width: 400px;
    }
}
.container {
    max-width: 800px;
    margin: 0 auto;
}

.container h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.container-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.contact-info {
    text-align: left;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p {
    margin-bottom: 10px;
    color: #555;
}

.contact-info i {
    color: #4caf50;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    .container-wrapper {
        grid-template-columns: 1fr;
    }
}

.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
}
.section-bg2 h2 {
    font-size: 50px;
    margin-left: 42%;
    background-color: rgb(238, 172, 106); 
    margin-right: 38%;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 2%;
}
@media (max-width: 768px) {
    .section-bg2 h2 {
        font-size: 50px;
        margin-left: 25%;
        background-color: rgb(238, 172, 106); 
        margin-right: 85px;
        border-radius: 5px;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 2%;
    }
    .container-wrapper {
        grid-template-columns: 1fr;
    }
}
.card {
    background-color: #634211;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 250px;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
@media (max-width: 768px) {
    .card img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 50%;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    }
    .container-wrapper {
        grid-template-columns: 1fr;
    }
}

.card-content {
    padding: 20px;
}

.card-content p {
    margin: 15px 0;
    color: white;
}
.card-content h3 {
    color: white;
}
.card button {
    background-color: #d4af37;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 20px 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.card button:hover {
    background-color: #b8860b;
}

.more-info-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 102, 31, 0.8);
    display: inline-block;
    transition: 8s ease;
    overflow: hidden;
}

.more-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    color: white;
    display: block;
    white-space: nowrap; 
}
.custom-link {
    color: #dfa470;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #dfa470;
    border-radius: 5px;
}

.custom-link:hover {
    background-color: lightblue;
}
.hoomebtn {
    position: fixed;
    top: 20px;
    left: 90%;
    padding: 10px 20px;
    background-color: #cc905b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
}

.hoomebtn:hover {
    background-color: #dfa470;
}
